@CHARSET "UTF-8";
body{
	background-color:#f0ffff;
}
#header{
	margin-top:100px;
	margin-left:330px;
	height:100px;
	width:500px;
}
a:link,a:visited{
	text-decoration: none;
	color:gray;
}
a:HOVER{}
#mainBody{
	margin-left:132px;
	width:1000px;
	height:550px;
}
#loginDiv{
	margin:50px auto;
	background-color:#adeaea;
	height:200px;
	width:300px;
}
.login_input{
	padding-top:50px;
	margin-right:50px;;
	text-align: right;
}
label{
	float:left;
	margin-left:10px;
}
.subDiv{
	margin-right:30px;
}