@CHARSET "UTF-8";
#mainBody{
	background-color:#dbdbdb;
	margin-left:132px;
	width:1000px;
	height:550px;
}
a:link,a:visited{
	text-decoration: none;
	color:#ffffff;
}
a:HOVER{}
#mianContent{
	margin-top:15px;
	padding-top:20px;
}
.courseDiv{
	width:300px;
	height:300px;
	float:left;
}
.courseDiv h3{
	text-indent: 85px;
}
.courseDiv ul{
	list-style: none;
}
.courseDiv li{
	float:left;
	width:70px;
}