@CHARSET "UTF-8";
#mainBody{
	background-color:#dbdbdb;
	margin-left:132px;
	margin-top:15px;
	width:1000px;
	height:550px;
}
#left{
	float:left;
	width:250px;
	height:500px;
	padding-left:30px;
	padding-top:15px;
	border:			1px solid;
	border-color:	grey;
	border-left:	0;
	border-bottom:	0;
	border-top:		0;
}
#middle{
	float:left;
	width:300px;
	height:500px;
	padding-top:15px;
	padding-left:30px;
	border:			1px solid;
	border-color:	grey;
	border-left:	0;
	border-bottom:	0;
	border-top:		0;
}
.courseList{
	margin-top:30px;
	
}

.courseList li{
	list-style:none;
	width:250px;
	height:100px;
}
.crsename{
	height:30px;
}
.tname{
	color:#ffffff;
	font-size: 16px;
}
#right{
	padding-left:30px;
	padding-top:15px;
	text-indent: 50px;
}
#right ul{
	margin-top:30px;
	list-style: none;
}
#right li{
	height:50px;
	
}