#topDiv {
	background-repeat: repeat-x;
	position: absolute;
	height: 91px;
	width: 1366px;
	left: -1px;
	top: 2px;
}
#topDiv {
}
#topDiv {
	font-family: "宋体";
	font-size: 36px;
	font-style: normal;
	line-height: normal;
	background-color: #00CC00;
}
#topDiv #title {
	font-family: "宋体";
	font-size: 36px;
	font-style: normal;
	font-weight: bold;
}
